<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
    <section name="DRPServices" type="DRP.Framework.Core.DRPTaskConfigurationSection,DRP.Framework" requirePermission="false"/>
    <section name="RedisServer" type="DRP.Framework.Core.DRPRedisConfigurationSection,DRP.Framework" requirePermission="false"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DRP.WEB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--发布地址-->
    <add key="DomainUrl" value="http://localhost:8003/"/>
    <!--媒体服务器JS/CSS/图片-->
    <add key="MediumDomain" value="http://localhost:8003/"/>
    <!--微站(管理端)发布地址-->
    <add key="WechatDomain" value="http://m.360ly.com/Login.aspx?OrgID={0}"/>
    <!--运维机构名称-->
    <add key="OrgName" value="苏州大途网络科技有限公司"/>
    <!--产品名称-->
    <add key="OrgProductName" value="旅行社综合业务管理系统 v3.0"/>
    <!--品牌名称-->
    <add key="ProductBrand" value="旅管家"/>
    <!--文件日志目录-->
    <add key="LogPath" value="D:\Oct\T-TMS1.0\Code\DRP.WEB\Files\Log\"/>
    <!--KingEditor控件上传文件目录-->
    <add key="KingEditorUploadPath" value="Files/Upload/"/>
    <!--机构初始化数据文件目录-->
    <add key="InitDataPath" value="D:\LvTms\Code\DRP.WEB\Resource\"/>
    <!--玄武短信配置-->
    <add key="NSmsServer" value="http://211.147.239.62/Service/WebService.asmx?wsdl"/>
    <!--模板类短信账号-->
    <add key="Account_ID" value="dtwl@dtwl"/>
    <add key="Account_PWD" value="Z-gA4DJa"/>
    <!--玄武短信配置-->
    <!--手机短信配置-->
    <add key="SmsServer" value="http://wsif.vcomcn.co/SmsService.asmx"/>
    <!--短信版本：服务将缓存配置，如更新短信属性时，须更新版本-->
    <add key="SmsVersion" value="1.0"/>
    <!--模板类短信账号-->
    <add key="Sms_T_Account_ID" value="96PNucb2TU3oTXXtiUcA+A=="/>
    <add key="Sms_T_Account_PWD" value="5cLCJFjW/WdKreXMNGxclg=="/>
    <!--模板配置文件路径 -->
    <add key="Sms_T_Path" value="D:\LvTms\Code\DRP.WEB\Resource\SmsConfig.xml"/>
    <!--常规类短信账号（有延迟大概15分钟）-->
    <add key="Sms_N_Account_ID" value="5cLCJFjW/WdKreXMNGxclg=="/>
    <add key="Sms_N_Account_PWD" value="5cLCJFjW/WdKreXMNGxclg=="/>
    <!--TMS在线帮助服务地址-->
    <add key="TMS_Help_Host" value="http://www.360ly.com/webserviceinfo.asmx"/>
    <!--微网站(旅行社公众号)发布地址-->
    <add key="TMS_MicroSite_Domain" value="http://localhost:8081/"/>
    <!--快捷机票接口配置-->
    <add key="Ticket_Api_Url" value="http://testapi.kjyou.net/"/>
    <add key="P_Token_ID" value="46256"/>
    <add key="P_Token" value="lvguanjia"/>
    <!--Api操作登录账号-->
    <add key="Api_User_ID" value="13606216450"/>
    <add key="Api_User_Pwd" value="888888"/>
  </appSettings>
  <connectionStrings>
    <!--  
      <add name="DRPConnection" connectionString="Data Source=192.168.2.189;Initial Catalog=TMS3;User Id=sa;Password=saisi@123;Connect Timeout=60;" providerName="System.Data.SqlClient" />
    -->
    <add name="DRPConnection" connectionString="Data Source=192.168.0.187;Initial Catalog=TMS;User Id=sa;Password=Aa123456;Connect Timeout=60;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <SubSonicService defaultProvider="SQLProvider">
    <providers>
      <add name="SubSonicService" type="System.Data.SqlClient,SubSonic" connectionStringName="DRPConnection"/>
    </providers>
  </SubSonicService>
  <!--系统任务服务，配置服务时需要重启IIS-->
  <DRPServices>
    <services>
      <!--
      系统自动调度执行作业任务
      name：任务名称 
      enable:是否启用  
      frequency 执行频率（秒） 
      type:实现DRP.TaskSchedule.ITaskService接口的程序集(dll)      
      配置示例：
      <add name="手机短信定时接收" enabled="false" frequency="1000" type="DRP.Utility.AutoReceiveSms,DRP"></add>
     -->
    </services>
  </DRPServices>
  <!--缓存服务器配置-->
  <RedisServer>
    <server>
      <add name="TMS业务缓存服务器" key="DRP_TMS_BizCache" ip="127.0.0.1" port="6379"/>
    </server>
  </RedisServer>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" defaultUrl="~/Index.aspx" timeout="120" loginUrl="~/Login.aspx" name=".DRP_TMS_SaaS_AUTH"/>
    </authentication>
    <sessionState mode="InProc" timeout="120" cookieless="false"/>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="Off" defaultRedirect="~/Error.aspx"/>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="10240" executionTimeout="6000" minFreeThreads="8"/>
    <pages enableEventValidation="false" validateRequest="false" theme="Default" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager"/>
      </controls>
    </pages>
  </system.web>
  <location path="Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Service/VerifyCode.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Error.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <applicationSettings>
    <DRP.WEB.Properties.Settings>
      <setting name="DRP_WEB_TmsHelp_WebServiceInfo" serializeAs="String">
        <value>http://www.360ly.com/webserviceinfo.asmx</value>
      </setting>
    </DRP.WEB.Properties.Settings>
  </applicationSettings>
</configuration>