<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false" />
  </configSections>

  <appSettings>
    <!--手机短信配置-->
    <add key="SmsServer" value="http://wsif.vcomcn.co/SmsService.asmx"/>
    <!--短信版本：服务将缓存配置配置，如更新短信属性时，须更新版本-->
    <add key="SmsVersion" value="1"/>
    <!--模板类短信账号-->
    <add key="Sms_T_Account_ID" value="96PNucb2TU3oTXXtiUcA+A=="/>
    <add key="Sms_T_Account_PWD" value="5cLCJFjW/WdKreXMNGxclg=="/>
    <!--模板配置文件路径 -->
    <add key="Sms_T_Path" value="F:\Science\旅管家\TMS\1Code\TMS\DRP.WEB\Resource\SmsConfig.xml"/>
    <!--常规类短信账号（有延迟大概15分钟）-->
    <add key="Sms_N_Account_ID" value="5cLCJFjW/WdKreXMNGxclg=="/>
    <add key="Sms_N_Account_PWD" value="5cLCJFjW/WdKreXMNGxclg=="/>
  </appSettings>

  <connectionStrings>
    <add name="DRPConnection" connectionString="Data Source=.;Initial Catalog=TMS;User Id=sa;Password=123;Connect Timeout=60;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <SubSonicService defaultProvider="SQLProvider">
    <providers>
      <add name="SubSonicService" type="System.Data.SqlClient,SubSonic" connectionStringName="DRPConnection" />
    </providers>
  </SubSonicService>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" defaultUrl="~/Index.aspx" loginUrl="~/Login.aspx" name=".DRP_TMS_eShop_AUTH" />
    </authentication>
    
    <customErrors mode="Off" defaultRedirect="~/Error.aspx?msg=404" />
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="10240" executionTimeout="6000" minFreeThreads="8" />
    <pages enableEventValidation="false" validateRequest="false">
    </pages>
  </system.web>
 

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>

</configuration>