<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false" />
    <section name="DRPApiServices" type="DRP.Framework.Core.DRPApiConfigurationSection,DRP.Framework" requirePermission="false"/>
  </configSections>

  <appSettings>
    <!--客服手机号码，用于短信通知-->
    <add key="ServiceMobile" value="18550337240"/>

    <!--苏州赛思科技有限公司机构ID-->
    <add key="OmOrgID" value="dc48f53e-7980-4c98-836f-6984648db60e"/>

    <!--手机短信配置-->
    <add key="SmsServer" value="http://wsif.vcomcn.co/SmsService.asmx"/>
    <!--短信版本：服务将缓存配置，如更新短信属性时，须更新版本-->
    <add key="SmsVersion" value="1.0"/>
    <!--模板类短信账号-->
    <add key="Sms_T_Account_ID" value="96PNucb2TU3oTXXtiUcA+A=="/>
    <add key="Sms_T_Account_PWD" value="5cLCJFjW/WdKreXMNGxclg=="/>
    <!--模板配置文件路径 -->
    <add key="Sms_T_Path" value="F:\Science\旅管家\TMS\1Code\TMS\DRP.Api\Resource\SmsConfig.xml"/>
    <!--常规类短信账号（有延迟大概15分钟）-->
    <add key="Sms_N_Account_ID" value="5cLCJFjW/WdKreXMNGxclg=="/>
    <add key="Sms_N_Account_PWD" value="5cLCJFjW/WdKreXMNGxclg=="/>



    <!--玄武短信配置-->

    <add key="NSmsServer" value="http://211.147.239.62/Service/WebService.asmx?wsdl"/>
    <!--模板类短信账号-->
    <add key="Account_ID" value="dtwl@dtwl"/>
    <add key="Account_PWD" value="Z-gA4DJa"/>

    <!--玄武短信配置-->

  </appSettings>

  <connectionStrings>
    <!--
 <add name="DRPConnection" connectionString="Data Source=SQLD;Initial Catalog=TMS;User Id=TMS;Password=TMS*235^#！j;Connect Timeout=60;" providerName="System.Data.SqlClient" />
    -->
    <add name="DRPConnection" connectionString="Data Source=.;Initial Catalog=TMS;User Id=sa;Password=123;Connect Timeout=60;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <SubSonicService defaultProvider="SQLProvider">
    <providers>
      <add name="SubSonicService" type="System.Data.SqlClient,SubSonic" connectionStringName="DRPConnection" />
    </providers>
  </SubSonicService>
  
  <DRPApiServices>
    <services>
      <!--
           系统对外提供的数据接口服务,配置示例：
           <add name="机构用户注册接口" enabled="true" taskid="4B03BA88-AB02-47A5-8184-C2A2B55B19A5" type="DRP.BF.OrgInfoSerivce,DRP.BF"></add>
       -->
      <add name="赛思科技有限公司" enabled="true" taskid="dc48f53e-7980-4c98-836f-6984648db60e" type="DRP.BF.OrgInfoSerivce,DRP.BF"></add>
      <add name="快捷机票接口服务" enabled="true" taskid="0A94D74A-960B-4843-AEDC-39DFD3527DA2" type="DRP.BF.AirTicketOrderService,DRP.BF"></add>
    </services>  
  </DRPApiServices>

  <system.web>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet"/>
      </protocols>
    </webServices>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="10240" executionTimeout="6000" minFreeThreads="8" />
    <pages enableEventValidation="false" validateRequest="false" />
  </system.web>

</configuration>

