<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DRPConnection" connectionString="Data Source=192.168.0.187;Initial Catalog=TMS;User Id=sa;Password=Aa123456;Connect Timeout=60;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SubSonicService defaultProvider="SQLProvider">
    <providers>
      <add name="SubSonicService" type="System.Data.SqlClient,SubSonic" connectionStringName="DRPConnection" />
    </providers>
  </SubSonicService>
</configuration>